[submodule "contrib/deterministic-build/electrum-civx-icons"]
	path = contrib/deterministic-build/electrum-civx-icons
	url = https://github.com/exofoundation/electrum-civx-icons
[submodule "contrib/deterministic-build/electrum-civx-locale"]
	path = contrib/deterministic-build/electrum-civx-locale
	url = https://github.com/exofoundation/electrum-civx-locale
