# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-civx.desktop

[Desktop Entry]
Comment=Lightweight CivX Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-civx %u"
GenericName[en_US]=CivX Wallet
GenericName=CivX Wallet
Icon=electrum-civx
Name[en_US]=Electrum CivX Wallet
Name=Electrum CivX Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/civx;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-civx --testnet %u"
Name=Testnet mode
